{% layout 'layout.liquid' %}
{% block content %}

<div class="container-sm d-flex justify-content-center mt-5">
    <form action="/auth/login" method="POST">
        <fieldset>
            <legend>Welcome Back!</legend>
            <div class="border border-success border-2 opacity-25">
            </div>
            <p class="mt-1">Please log in to your account below:</p>
            <label class="form-label">Username: </label>
            <input class="form-control" type="text" name="username" placeholder="username" required>
            <label class="form-label">Password</label>
            <input class="form-control" type="password" name="password" placeholder="enter password" required>
        </fieldset>
        <input class="btn btn-success mt-3" type="submit" value="Log In" >
    </form>
</div>

{% endblock %}