{% layout 'layout.liquid' %}
{% block content %}


<div class="box column is-4 is-offset-one-third mt-5">
    <h2 class="subtitle has-text-centered">Are you sure you would like to log out?</h2>
    <div class="is-flex is-justify-content-center">
            
        <div class="field is-grouped">
            <form action="/auth/logout?_method=DELETE" method="POST">
                <input class="button is-danger mr-2" type="submit" value="Log Out">
            </form>
            <a class="button has-background-danger-light" href="/">No, back to LilBean</a>
        </div>
    </div>

    {% endblock %}