{% layout 'layout.liquid' %}
{% block content %}


<h5 class="text-center mt-5 mb-4">Are you sure you would like to log out?</h5>
    <div class="container-sm d-flex justify-content-center">
         <br>
            <form action="/auth/logout?_method=DELETE" method="POST">
                <input class="btn btn-danger" type="submit" value="Log Out">
            </form>
            <a class="btn btn-outline-danger mx-2" href="/">Back to LilBean</a>
    </div>
{% endblock %}