{% layout 'layout.liquid' %}
{% block content %}

<div class="container-sm d-flex justify-content-center mt-5">
    <form action="/auth/signup" method="POST">
        <fieldset>
            <legend>Sign Up</legend>
            <div class="border border-success border-2 opacity-25">
            </div>
            <p class="mt-1">Complete the form below to register an account:</p>
            <label class="form-label">*Username:</label>
            <input class="form-control" type="text" name="username" placeholder="username" required>
            
            <label class="form-label">*Password:</label>
            <input class="form-control" type="password" name="password" placeholder="enter password" required>
            <label class="form-label">*Re-type Password:</label>
            <input class="form-control" type="password" name="passwordCheck" placeholder="re-type password" required>
        </fieldset>
        <button class="btn btn-success mt-3" type="submit"><i class="fa-solid fa-check"></i> Create Account</button>
    </form>
</div>

{% endblock %}