{% layout 'layout.liquid' %}
{% block content %}

<div class="box column is-4 is-offset-one-third mt-5">
    <div class="is-flex is-justify-content-center">
        <form action="/auth/signup" method="POST">
            <fieldset>
                <legend class="is-size-2 has-text-centered">Sign Up</legend>
                <div class="field">
                    <label class="label">*Username:</label>
                    <input class="control " type="text" name="username" placeholder="username" required>
                </div>
                <div class="field">
                    <label class="label">*Password:</label>
                    <input class="control" type="password" name="password" placeholder="enter password" required>
                </div>
                <div class="field">
                    <label class="label">*Re-type Password:</label>
                    <input class="control" type="password" name="passwordCheck" placeholder="re-type password" required>
                </div>
            </fieldset>
            <input class="button is-info is-focused mt-4" type="submit" value="Create Account">
        </form>
    </div>
</div>

{% endblock %}