{% layout 'layout.liquid'%}
{% block content %}

<div>
    <h2 class="display-6">My Little Beans</h2>
    <div class="row">
        {% for baby in babies %}
        <div class="card" style="width: 25rem;">
            <h3 class="card-header">{{ baby.firstName }}</h3>
            <div class="card-body">
                <h5 class="card-title">
                    Baby {{ baby.gender }}
                </h5>
                <a href="/babies/{{ baby.id }}" class="btn btn-info">
                    View details
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}