{% layout 'layout.liquid'%}
{% block content %}

<div class="container-sm">
    <h2 class="display-6 mt-4 mb-4">My Little Beans</h2>
    <div class="row">
        {% for baby in babies %}
            <div class="card border-dark mx-1 my-1" style="width: 20rem;">
                <h3 class="card-header">{{ baby.firstName }}</h3>
                <div class="card-body">
                    <h5 class="card-title">
                        Baby {{ baby.gender }}
                    </h5>
                    <div class="d-flex justify-content-end">
                    <a href="/babies/{{ baby.id }}" class="btn btn-outline-info">
                        View details
                    </a>
                </div>
                </div>
            </div>
        
        {% endfor %}
    </div>
</div>

{% endblock %}