{% layout "layout.liquid" %}
{% block content %}
<div class="container-md">
    <h1 class="text-center">Developmental Milestones</h1>
    <div class="border border-success border-2 opacity-25 mb-4">
    </div>
    <div class="alert alert-success text-center">
        <h5><i class="fa-solid fa-triangle-exclamation"></i> It's important to learn about your baby's development!</h5>
        <p>Take a look at what most babies can do by each age below.</p>
    </div>


    <div id="milestones-list" class="milestones-list-scrollspy">
        <div class="row">
            <div class="col-sm-6 mb-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-solid fa-seedling"></i> Two Months</h5>
                        <p class="card-text">By 2 months old, most babies...
                        <ul>
                            <li>calm down when spoken to or picked up</li>
                            <li>look at your face</li>
                            ...
                        </ul>
                        </p>
                        <a href="#simple-list-item-1" class="btn btn-primary float-end"><i class="fa-solid fa-magnifying-glass"></i> View More</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 mb-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-solid fa-seedling"></i> Four Months</h5>
                        <p class="card-text">By 4 months old, most babies...
                        <ul>
                            <li>smile on his/her own to get your attention</li>
                            <li>chuckle (not yet a full laugh) when you try to make her laugh</li>
                            ...
                        </ul>
                        </p>
                        <a href="#simple-list-item-2" class="btn btn-primary float-end"><i class="fa-solid fa-magnifying-glass"></i> View More</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 mb-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-solid fa-seedling"></i> Six Months</h5>
                        <p class="card-text">By 6 months old, most babies...
                        <ul>
                            <li>know familiar people</li>
                            <li>like to look in the mirror</li>
                            ...
                        </ul>
                        </p>
                        <a href="#simple-list-item-3" class="btn btn-primary float-end"><i class="fa-solid fa-magnifying-glass"></i> View More</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 mb-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-solid fa-seedling"></i> Nine Months</h5>
                        <p class="card-text">By 9 months old, most babies...
                        <ul>
                            <li>are shy, clingy, or fearful around strangers</li>
                            <li>look when you call his/her name</li>
                            ...
                        </ul>
                        </p>
                        <a href="#simple-list-item-4" class="btn btn-primary float-end"><i class="fa-solid fa-magnifying-glass"></i> View More</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 mb-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-solid fa-seedling"></i> One Year</h5>
                        <p class="card-text">By 1 year old, most babies...
                        <ul>
                            <li>play games with you, like pat-a-cake</li>
                            <li>waves "bye-bye"</li>
                            ...
                        </ul>
                        </p>
                        <a href="#simple-list-item-5" class="btn btn-primary float-end"><i class="fa-solid fa-magnifying-glass"></i> View More</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 mb-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-solid fa-seedling"></i> Fifteen Months</h5>
                        <p class="card-text">By 15 months old, most babies...
                        <ul>
                            <li>show you an object he/she likes</li>
                            <li>clap when excited</li>
                            ...
                        </ul>
                        </p>
                        <a href="#simple-list-item-6" class="btn btn-primary float-end"><i class="fa-solid fa-magnifying-glass"></i> View More</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 mb-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-solid fa-seedling"></i> Eighteen Months</h5>
                        <p class="card-text">By 18 months old, most babies...
                        <ul>
                            <li>move away from you, but looks to make sure you are close by</li>
                            <li>point to show you something interesting</li>
                            ...
                        </ul>
                        </p>
                        <a href="#simple-list-item-7" class="btn btn-primary float-end"><i class="fa-solid fa-magnifying-glass"></i> View More</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 mb-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa-solid fa-seedling"></i> Two Years</h5>
                        <p class="card-text">By 2 years old, most babies...
                            <ul>
                                <li>point to things in a book when you ask, like “Where is the bear?”</li>
                                <li>look at your face to see how to react in a new situation</li>
                                ...
                            </ul>
                        </p>
                        <a href="#simple-list-item-8" class="btn btn-primary float-end"><i class="fa-solid fa-magnifying-glass"></i> View More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid d-flex justify-content-center mt-5">
            <div data-bs-spy="scroll" data-bs-target="#milestones-list" data-bs-offset="0"
                data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
                <h4 id="simple-list-item-1"><i class="fa-solid fa-seedling"></i> Two Months</h4>
                By 2 months old, most babies...
                <p>
                <ul>
                    <li>calm down when spoken to or picked up</li>
                    <li>look at your face</li>
                    <li>seem happy to see you when you walk up to him/her</li>
                    <li>smile when you talk to or smile at him/her</li>
                    <li>make sounds other than crying</li>
                    <li>react to loud sounds</li>
                    <li>watch you as you move</li>
                    <li>look at a toy for several seconds</li>
                    <li>hold head up when on tummy</li>
                    <li>move both arms and legs</li>
                    <li>open hands briefly</li>
                </ul>
                </p>
                <hr class="border border-success border-1 opacity-25">

                <h4 id="simple-list-item-2"><i class="fa-solid fa-seedling"></i> Four Months</h4>
                By 4 months old, most babies...
                <p>
                <ul>
                    <li>smile on his/her own to get your attention</li>
                    <li>chuckle (not yet a full laugh) when you try to make her laugh</li>
                    <li>look at you, move, or make sounds to get or keep your attention</li>
                    <li>make sounds like "oooo", "aahh" (cooing)</li>
                    <li>make sounds back when you talk to him/her</li>
                    <li>turn head towards the sound of your voice</li>
                    <li>if hungry, open mouth when he/she sees breast or bottle</li>
                    <li>look at his/her hands with interest</li>
                    <li>hold head steady without support when you are holding him/her</li>
                    <li>hold a toy when you put it in his/her hand</li>
                    <li>use arm to swing at toys</li>
                    <li>bring hands to mouth</li>
                    <li>push up onto elbows/forearms when on tummy</li>
                </ul>
                </p>
                <hr class="border border-success border-1 opacity-25">

                <h4 id="simple-list-item-3"><i class="fa-solid fa-seedling"></i> Six Months</h4>
                <p>By 6 months old, most babies...
                <ul>
                    <li>know familiar people</li>
                    <li>like to look in the mirror</li>
                    <li>laugh</li>
                    <li>take turn making sounds with you</li>
                    <li>blow "raspberries" (sticks tongue out and blows)</li>
                    <li>make squealing noises</li>
                    <li>put things in his/her mouth to explore them</li>
                    <li>reach to grab a toy he/she wants</li>
                    <li>close lips to show she doesn't want more food</li>
                    <li>rolls from tummy to back</li>
                    <li>push up with straight arms when on tummy</li>
                    <li>lean on hands to support himself/herself when sitting</li>
                </ul>
                </p>
                <hr class="border border-success border-1 opacity-25">

                <h4 id="simple-list-item-4"><i class="fa-solid fa-seedling"></i> Nine Months</h4>
                <p>By 9 months old, most babies...
                <ul>
                    <li>are shy, clingy, or fearful around strangers</li>
                    <li>look when you call his/her name</li>
                    <li>show several facial expressions, like happy, sad, angry, and surprised</li>
                    <li>react when you leave (looks, reaches for you, or cries)</li>
                    <li>smile or laughs when you play peek-a-boo</li>
                    <li>make a lot of different sounds like "mamamama" and "bababababa"</li>
                    <li>lift arms up to be picked up</li>
                    <li>get to a sitting position by himself/herself</li>
                    <li>move things from one hand to his/her other hand</li>
                    <li>use fingers to “rake” food towards himself/herself</li>
                    <li>sit without support</li>
                </ul>
                </p>
                <hr class="border border-success border-1 opacity-25">

                <h4 id="simple-list-item-5"><i class="fa-solid fa-seedling"></i> One Year</h4>
                <p>By 1 year old, most babies...
                <ul>
                    <li>play games with you, like pat-a-cake</li>
                    <li>waves "bye-bye"</li>
                    <li>call a parent "mama" or "dada" or another special name</li>
                    <li>understand "no" (pauses briefly or stops when you say it)</li>
                    <li>put something in a container, like a block in a cup</li>
                    <li>look for things he/she sees you hide, like a toy under a blanket</li>
                    <li>pull up to stand</li>
                    <li>walk, holding on to furniture</li>
                    <li>drink from a cup without a lid, as you hold it</li>
                    <li>pick things up between thumb and pointer finger, like small bits of food</li>
                </ul>
                </p>
                <hr class="border border-success border-1 opacity-25">

                <h4 id="simple-list-item-6"><i class="fa-solid fa-seedling"></i> Fifteen Months</h4>
                <p>By 15 months old, most babies...
                <ul>
                    <li>show you an object he/she likes</li>
                    <li>clap when excited</li>
                    <li>copy other children while playing, like taking toys out of a container when another child does</li>
                    <li>hug stuffed doll or other toy</li>
                    <li>show you affection (hugs, cuddles, or kisses you)</li>
                    <li>try to say one or two words besides "mama" or "dada", like "ba" for ball or "da" for dog</li>
                    <li>look at a familiar object when you name it</li>
                    <li>follow directions given with both a gesture and words. For example, he gives you a toy when you hold out your hand and say, "Give me the toy."</li>
                    <li>point to ask for something or to get help</li>
                    <li>try to use things the right way, like a phone, cup, or book</li>
                    <li>stack at least two small objects, like blocks</li>
                    <li>take a few steps on his own</li>
                    <li>use fingers to feed herself some food</li>
                </ul>
                </p>
                <hr class="border border-success border-1 opacity-25">

                <h4 id="simple-list-item-7"><i class="fa-solid fa-seedling"></i> Eighteen Months</h4>
                <p>By 18 months old, most babies...
                <ul>
                    <li>move away from you, but looks to make sure you are close by</li>
                    <li>point to show you something interesting</li>
                    <li>Put hands out for you to wash them</li>
                    <li>look at a few pages in a book with you</li>
                    <li>help you dress him by pushing arm through sleeve or lifting up foot</li>
                    <li>try to say three or more words besides "mama" or "dada"</li>
                    <li>follow one-step directions without any gestures, like giving you the toy when you say, "Give it to me."</li>
                    <li>copy you doing chores, like sweeping with a broom</li>
                    <li>play with toys in a simple way, like pushing a toy car</li>
                    <li>walk without holding on to anyone or anything</li>
                    <li>scribble</li>
                    <li>drins from a cup without a lid and may spill sometimes</li>
                    <li>feed herself with her fingers</li>
                    <li>try to use a spoon</li>
                    <li>climb on and off a couch or chair without help</li>
                </ul>
                </p>
                <hr class="border border-success border-1 opacity-25">

                <h4 id="simple-list-item-8"><i class="fa-solid fa-seedling"></i> Two Years</h4>
                <p>By 2 years old, most babies...
                    <ul>
                        <li>point to things in a book when you ask, like “Where is the bear?”</li>
                        <li>look at your face to see how to react in a new situation</li>
                        <li>notice when others are hurt or upset, like pausing or looking sad when someone is crying</li>
                        <li>say at least two words together, like "More milk."</li>
                        <li>point to at least two body parts when you ask him to show you</li>
                        <li>use more gestures than just waving and pointing, like blowing a kiss or nodding yes</li>
                        <li>hold something in one hand while using the other hand; for example, holding a container and taking the lid off</li>
                        <li>try to use switches, knobs, or buttons on a toy</li>
                        <li>play with more than one toy at the same time, like putting toy food on a toy plate</li>
                        <li>kick a ball</li>
                        <li>run</li>
                        <li>walk (not climb) up a few stairs with or without help</li>
                        <li>eat with a spoon</li>
                    </ul>
                </p>
                <hr class="border border-success border-1 opacity-25">
                Content source: <a href="https://www.cdc.gov/ncbddd/actearly/milestones/index.html">CDC's Developmental Milestones</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}