{% block content %}
<nav class="navbar is-primary has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item is-size-3" href="/">LilBean</a>

        <a role="button" class="navbar-burger" id="burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" id="nav-links">
        <div class="navbar-start">
            {% if loggedIn %}
            <a class="navbar-item" href="/babies">My Babies</a>
            <a class="navbar-item" href="/babies/new">New Baby</a>

        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <a class="button is-primary mr-4" href="/babies">Hello {{ username }}</a>
                <div class="buttons is-responsive">
                    <a class="button is-info" href="/auth/logout">Log Out</a>
                    {% else %}
                    <p>&nbsp;&nbsp;&nbsp;</p>
                    <a class="button is-info mt-3 mr-2" href="/auth/signup">Sign Up</a>
                    <a class="button is-light mt-3" href="/auth/login">Log In</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>
{% endblock %}