{% block content %}
    <div class="card mb-4 shadow">
        <div class="card-body">
            <h4>Diaper</h4>
            <p>{{ diaper }}</p>
            <div class="d-flex justify-content-between">
                {% if diaper.parent == userId %}
                    <form action="/diapers/delete/{{baby.id}}/{{diaper.id}}?_method=DELETE" method="POST">
                        <input class="btn btn-danger btn-sm" type="submit" value="Delete">
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}